.advanced-excerpt .advanced-excerpt-container {
  position: relative;
}
.advanced-excerpt .advanced-excerpt-main {
  margin-right: 320px;
  min-height: 775px;
}
.advanced-excerpt #length {
  vertical-align: inherit;
}
.advanced-excerpt #tags-table {
  border-collapse: collapse;
}
.advanced-excerpt #tags-table td {
  padding: 0px 20px 30px 0px;
}
.advanced-excerpt #read-more {
  margin-top: 7px;
}
.advanced-excerpt .monospaced {
  font-family: Consolas,Monaco,monospace;
}
.advanced-excerpt .sub-options {
  margin: 4px 0px 0px 20px;
}
.advanced-excerpt .disabled {
  color: #999999;
  cursor: default;
}
.advanced-excerpt .disabled input {
  cursor: default;
}
.advanced-excerpt #advanced-excerpt-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 292px;
}
.advanced-excerpt #advanced-excerpt-sidebar .inside {
  padding: 20px;
  border: 1px solid #ccc;
  border-bottom: none;
}
.advanced-excerpt #advanced-excerpt-sidebar .author {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.advanced-excerpt #advanced-excerpt-sidebar .author img {
  float: left;
  margin-right: 20px;
}
.advanced-excerpt #advanced-excerpt-sidebar .author .desc {
  float: left;
}
.advanced-excerpt #advanced-excerpt-sidebar .author h3 {
  font-size: 12px;
  margin: 0;
}
.advanced-excerpt #advanced-excerpt-sidebar .author h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.advanced-excerpt #advanced-excerpt-sidebar .author h2 a {
  color: #464646;
  text-decoration: none;
}
.advanced-excerpt #advanced-excerpt-sidebar .author h2 a:hover {
  color: #000;
}
.advanced-excerpt #advanced-excerpt-sidebar .author p {
  margin: 0;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: #666;
  font-size: 20px;
  line-height: 1.2em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe h3 {
  font-size: 16px;
  margin: 0;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe p {
  margin: 0;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe p.interesting {
  margin-bottom: 1em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .links {
  margin-bottom: 2em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .links a {
  text-decoration: none;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .promise {
  color: #999;
  font-size: 12px;
  line-height: 1.4em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .field {
  margin-bottom: 0.5em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .field p {
  margin-bottom: 0.3em;
}
.advanced-excerpt #advanced-excerpt-sidebar .subscribe .field.submit-button {
  margin-bottom: 1em;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .advanced-excerpt #advanced-excerpt-sidebar .wpmdb-banner {
    background-image: url(../img/wp-migrate-db-pro@2x.jpg);
    background-size: 292px 292px;
    width: 292px;
    height: 292px;
    display: block;
  }
  .advanced-excerpt #advanced-excerpt-sidebar .wpmdb-banner img {
    display: none;
  }
}
