.advanced-excerpt #length {
  vertical-align: inherit;
}
.advanced-excerpt #tags-table {
  border-collapse: collapse;
}
.advanced-excerpt #tags-table td {
  padding: 0px 20px 30px 0px;
}
.advanced-excerpt .monospaced {
  font-family: Consolas,Monaco,monospace;
}
.advanced-excerpt .sub-options {
  margin: 2px 0px 0px 25px;
}
.advanced-excerpt .disabled {
  color: #999999;
  cursor: default;
}
.advanced-excerpt .disabled input {
  cursor: default;
}
