@import "compass";

.advanced-excerpt {

	#length {
		vertical-align: inherit;
	}

	#tags-table {
		border-collapse: collapse;
		td {
			padding: 0px 20px 30px 0px;
		}
	}

	.monospaced {
		font-family: Consolas,Monaco,monospace;
	}

}